.service-page{
  margin-top: 100px;
}
.domain-list {
  padding: 0;
}
.domain-list li {
  list-style: none;
  margin-bottom: 7px;
}

.domain-list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Helvetica;
font-weight: 700;
text-transform: capitalize;

  color: #545454;
  font-size: 13px;
  transition: 0.3s ease;
}

.domain-list li a:hover {
  color: #0042ff;
}

.list-arrow {
  font-size: 12px;
  color: #0042ff;
  margin-right: 7px;
}

.service-page-card {
  height: 90%;
}
