.clients-section {
  background: linear-gradient(135deg, #000000 0%, #010080 100%);
  color: #fff;
  padding: 80px 0;
  overflow: hidden;
}

.clients-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 40px;                     
}

.clients-left {
  flex: 0.8;
  min-width: 250px;
}

.clients-title {
  font-family: K2D;
  font-size: 68px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  line-height: 1.2;
}

.clients-title span {
  font-size: 89px;
  color: transparent;
  -webkit-text-stroke: 2.27px #ffffff;
}

.clients-right {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.clients-row {
  display: flex;
  justify-content: flex-end;   
  flex-wrap: nowrap;           
  gap: 11px;
}

.client-card {
  width: 120px;
  height: 120px;
  background: #f9f9f9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0; 
}

.client-logo {
  width: 55px;
  height: 55px;
  object-fit: contain;
  margin-bottom: 8px;
}

.client-card p {
  font-family: Helvetica;
  color: #09090c;
  font-size: 0.78rem;
  font-weight: 700;
  line-height: 1.3;
  padding: 0 5px;
  text-align: center;
}

.city-name {
  color: #0042ff;
}


@media (max-width: 768px) {
  .clients-row {
    justify-content: center;  
    flex-wrap: wrap;          
  }
  .clients-title {
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
  }
  .clients-title span {
    font-size: 52px;
    -webkit-text-stroke: 1.5px #ffffff;
    margin-bottom: 14px;
    display: inline-block;
  }
}
