.features-section {
  background: #ffffff;
  padding: 60px 3%;
  overflow: hidden;
}

.features-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.features-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.feature-image {
  max-width: 95%;
  height: auto;
  object-fit: contain;
}

.features-right {
  flex: 1.3;
  min-width: 320px;
}

.feature-icon {
  position: relative;
  font-size: 25px;
  color: #0042ff;
}
