.service-domain-section {
  background: linear-gradient(180deg, #e7e8f2 0%, #ffffff 100%);
}

.service-highlight {
  font-size: 42px;
  font-family: K2D;
  font-weight: 800;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px #0042ff;
  letter-spacing: 2px;
  line-height: 1.2;
}

.service-subtitle {
  color: #545454;
  font-size: 18px;
  font-family: Helvetica;
  font-weight: 400;
}

/* ---------- SERVICE CARD ---------- */
.service-card {
  background: #f1f2ff;
  border: 1.6px solid #0042ff36;
  border-radius: 19px;
  padding: 25px 20px 30px;
  text-align: left;
  position: relative;
  overflow: visible;
  z-index: 2;
}

/* ---------- LEFT OUTSIDE LINES ---------- */
.outside-line {
  position: absolute;
  left: -5px;
  top: 8%;
  height: 79px;
  width: 8px;
  border-radius: 19px;
  background: linear-gradient(180deg, #210c58, #421f95);
  z-index: 1;
}

/* ---------- ICON BOX ---------- */

.service-icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #deddf0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.service-icon-back {
  position: absolute;
  width: 36px;
  height: 36px;
  border-top-left-radius: 13.69px;
  border-top-right-radius: 13.69px;
  border-bottom-right-radius: 13.69px;
  background: transparent;
  border: 3px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(145deg, #42c8ef, #9384ec) border-box;
  z-index: 1;
  top: 9px;
  left: 8px;
}

.service-icon-front {
  position: absolute;
  width: 36px;
  height: 36px;
  border-top-left-radius: 13.69px;
  border-top-right-radius: 13.69px;
  border-bottom-right-radius: 13.69px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  background: linear-gradient(#0044ff, #0044ff) padding-box,
    linear-gradient(145deg, #42c8ef, #9384ec) border-box;
  z-index: 2;
}

.service-card h5 {
  font-size: 19px;
  font-family: Helvetica;
  margin-top: 12px;
  font-weight: 700;
}

.service-card p {
  font-family: Helvetica;
  font-weight: 500;
  font-size: 0.9rem;
  color: #545454;
  margin-bottom: 12px;
  line-height: 1.5;
}

.view-more {
  color: #0042ff;
  font-weight: 700;
  text-decoration: none;
}

/* ---------- BUTTON ---------- */

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.button-double-layer {
  position: relative;
  width: 20%;
  height: 50px;
}

.button-back-layer {
  position: absolute;
  top: -5px;
  left: 5px;
  width: 100%;
  height: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 9.17px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 9.17px;
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(145deg, #42c8ef, #9384ec) border-box;
  z-index: 1;
}

.button-front-layer {
  position: absolute;
  inset: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 9.17px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 9.17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  border: 2px solid transparent;
  background: linear-gradient(#0042ff, #0042ff) padding-box,
    linear-gradient(145deg, #42c8ef, #9384ec) border-box;
  z-index: 2;
  text-decoration: none;
  overflow: hidden;
}

@media (max-width: 768px) {
  .service-card {
    padding: 20px 15px;
  }
  .service-icon-circle {
    width: 55px;
    height: 55px;
  }

  .service-icon-back,
  .service-icon-front {
    width: 28px;
    height: 28px;
  }

  .service-icon-front {
    font-size: 14px;
  }
  .service-card h5 {
    font-size: 16px;
  }
  .service-highlight {
    font-size: 30px;
    -webkit-text-stroke: 1.4px #0042ff;
  }
  .service-subtitle {
    font-size: 15px;
  }
  .button-wrapper {
    margin-top: 40px;
  }
  .button-double-layer {
    width: 55%;
    height: 48px;
  }

  .button-front-layer {
    font-size: 16px;
  }
}
