:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, Gulim, sans-serif;
  line-height: 1.5 !important;
  font-weight: 400 !important;
  color-scheme: light dark;
  color: #0042FF;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
